# Tugas

**Nama&nbsp;: Fadhila Zahra <br>
NIM&nbsp;&nbsp;&nbsp;&nbsp;: 200411100059 <br>
Kelas&nbsp;&nbsp;: Penambangan Data C**

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Tugas 1 (Menghitung Jarak)

In [7]:
# Import liberary pandas dan math
import pandas as pd 
import math

In [8]:
# Membaca data csv
phone = pd.read_csv("https://raw.githubusercontent.com/Fadhila-Zahra/datamining/main/phones_data.csv")
phone.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [9]:
# mengetahui jumlah baris dan kolom
phone.shape

(1224, 13)

## Data Nominal
	Data nominal merupakan salah satu data yang bersifat kategorik. Data ini diperoleh dari pengukuran nominal, yaitu proses pengelompokan beberapa objek yang berbeda berdasarkan karakteristik tertentu. Data ini hanya memungkinkan setiap objek memiliki satu kategori

In [10]:
# Menampilkan data Nominal
phone[["brand_name","model_name","os", "release_date"]].head()

,brand_name,model_name,os,release_date
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,10-2020
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
4,Nokia,1.3 1/16GB Charcoal,Android,4-2020

In [11]:
# Menghitung jarak data Nominal
def d1(i,j):
    P = 4
    M = 0
    for col in ["brand_name","model_name","os", "release_date"]:
        if phone[col][i] == phone[col][j]:
            M += 1

    return (P-M)/P

In [12]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.0
0.0
0.75

## Data Numeric
	Data Numeric adalah tipe data yang digunakan pada varianel atau konstanta untuk menyimpan nilai dalam bentuk bilangan atau angka.

In [13]:

# Menampilkan data numeric
phone[["popularity", "best_price", "lowest_price", "highest_price", "sellers_amount", "screen_size", "memory_size", "battery_size"]].head()

,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
0,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0
1,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
2,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
3,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
4,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0

In [14]:
# melihat data numeric
phone.describe()

,Unnamed: 0,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
count,1224.000000,1224.000000,1224.000000,964.000000,964.000000,1224.000000,1222.000000,1112.000000,1214.000000
mean,611.500000,612.500000,7941.206699,7716.018672,9883.410788,16.743464,5.394378,95.700059,3608.201812
std,353.482673,353.482673,8891.836260,8560.959059,11514.936818,20.597006,1.476991,111.922576,1668.268774
min,0.000000,1.000000,214.000000,198.000000,229.000000,1.000000,1.400000,0.003200,460.000000
25%,305.750000,306.750000,2599.750000,2399.000000,2887.000000,2.000000,5.162500,32.000000,2900.000000
50%,611.500000,612.500000,4728.000000,4574.000000,5325.500000,8.000000,6.000000,64.000000,3687.000000
75%,917.250000,918.250000,9323.000000,9262.250000,12673.750000,26.000000,6.400000,128.000000,4400.000000
max,1223.000000,1224.000000,56082.000000,49999.000000,69999.000000,125.000000,8.100000,1000.000000,18800.000000

Melakukan normalisasi data karena tidak konsisten

In [15]:
# Normalisasi popularity
std1 = 353.482673
mean1 = 612.500000
for col1 in ["popularity"]:
    data1 = phone[col1]
    hasil1 = (data1-mean1)/std1
    print(hasil1)

# Normalisasi best_price
std2 = 8891.836260
mean2 = 7941.206699
for col2 in ["best_price"]:
    data2 = phone[col2]
    hasil2 = (data2-mean2)/std2
    print(hasil2)

# Normalisasi lowest_price
std3 = 8560.959059
mean3 = 7716.018672
for col3 in ["lowest_price"]:
    data3 = phone[col3]
    hasil3 = (data3-mean3)/std3
    print(hasil3)

# Normalisasi highest_price
std4 = 11514.936818
mean4 = 9883.410788
for col4 in ["highest_price"]:
    data4 = phone[col4]
    hasil4 = (data4-mean4)/std4
    print(hasil4)

# Normalisasi sellers_amount
std5 = 20.597006
mean5 = 16.743464
for col5 in ["sellers_amount"]:
    data5 = phone[col5]
    hasil5 = (data5-mean5)/std5
    print(hasil5)

# Normalisasi screen_size
std6 = 1.476991
mean6 = 5.394378
for col6 in ["screen_size"]:
    data6 = phone[col6]
    hasil6 = (data6-mean6)/std6
    print(hasil6)

# Normalisasi memory_size
std7 = 111.922576
mean7 = 95.700059
for col7 in ["memory_size"]:
    data7 = phone[col7]
    hasil7 = (data7-mean7)/std7
    print(hasil7)

# Normalisasi battery_size
std8 = 1668.268774
mean8 = 3608.201812
for col8 in ["battery_size"]:
    data8 = phone[col8]
    hasil8 = (data8-mean8)/std8
    print(hasil8)

0      -0.538923
1      -0.818993
2      -0.886889
3      -0.920837
4       1.229197
          ...
1219    1.381963
1220   -0.233392
1221    1.588480
1222    0.394645
1223    0.960443
Name: popularity, Length: 1224, dtype: float64
0      -0.703028
1      -0.690319
2      -0.690319
3      -0.690319
4      -0.668277
          ...
1219    1.658127
1220    1.873493
1221    0.097032
1222    1.216148
1223   -0.791086
Name: best_price, Length: 1224, dtype: float64
0      -0.722702
1      -0.707516
2      -0.707516
3      -0.707516
4            NaN
          ...
1219    0.969749
1220    1.661377
1221    0.033055
1222    1.259670
1223   -0.809608
Name: lowest_price, Length: 1224, dtype: float64
0      -0.700343
1      -0.642158
2      -0.642158
3      -0.642158
4            NaN
          ...
1219    1.564628
1220    2.070058
1221    0.010038
1222    0.792587
1223   -0.776332
Name: highest_price, Length: 1224, dtype: float64
0       0.934919
1       0.934919
2       0.934919
3       0.934919
4      -0.327400
          ...
1219    2.148688
1220    0.546513
1221    0.061006
1222   -0.715806
1223    2.828398
Name: sellers_amount, Length: 1224, dtype: float64
0      -0.267014
1      -0.267014
2      -0.267014
3      -0.267014
4       0.213693
          ...
1219    0.748564
1220    0.748564
1221    0.586071
1222    0.850122
1223   -1.282593
Name: screen_size, Length: 1224, dtype: float64
0      -0.783578
1      -0.712100
2      -0.712100
3      -0.712100
4      -0.712100
          ...
1219   -0.283232
1220   -0.283232
1221    0.288592
1222    0.288592
1223         NaN
Name: memory_size, Length: 1224, dtype: float64
0      -0.963994
1      -0.963994
2      -0.963994
3      -0.963994
4      -0.364571
          ...
1219   -0.260271
1220   -0.260271
1221    0.084997
1222    0.534565
1223   -1.113850
Name: battery_size, Length: 1224, dtype: float64

Melakukan perhitungan menggunakan rumus euclidean distance

In [16]:
# Menghitung jarak Numeric dengan metode Euclidean
def d2(i,j,h):
    result = 0
    for col in [hasil1, hasil2, hasil3, hasil4, hasil5, hasil6, hasil7, hasil8]:
        result = math.pow(abs(col[i] - col[j]), h)
    return result**(1/h)

In [17]:
# Hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

0.0
0.0
0.599423795245118

##Similarity

In [18]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

0.0

In [19]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

0.0

In [20]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

1.349423795245118

# Tugas 2 (Diskritisasi)

In [21]:
# Import liberary pandas dan math
import pandas as pd 
from sklearn import datasets
import numpy as np

In [22]:
# Membaca data csv
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
# mengetahui jumlah baris dan kolom
iris.shape

(150, 5)

In [24]:
# proses melakukan diskritisasi pada sepal_length
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['sepal_length'] = est.fit_transform(iris[['sepal_length']])

In [25]:
# menampilkan hasil diskritisasi sepal_length
iris['sepal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    1.0
Name: sepal_length, Length: 150, dtype: float64

In [26]:
# proses melakukan diskritisasi pada sepal_width
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['sepal_width'] = est.fit_transform(iris[['sepal_width']])

In [27]:
# menampilkan hasil diskritisasi sepal_width
iris['sepal_width']

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: sepal_width, Length: 150, dtype: float64

In [28]:
# proses melakukan diskritisasi pada petal_length
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['petal_length'] = est.fit_transform(iris[['petal_length']])

In [29]:
# menampilkan hasil diskritisasi petal_length
iris['petal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: petal_length, Length: 150, dtype: float64

In [30]:
# proses melakukan diskritisasi pada petal_width
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['petal_width'] = est.fit_transform(iris[['petal_width']])

In [31]:
# menampilkan hasil diskritisasi petal_length
iris['petal_width']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: petal_width, Length: 150, dtype: float64

In [32]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
# tempat penyimpanan csv hasil dari diskritisasi
%cd /content/drive/MyDrive/SEMESTER 5/datamining/

/content/drive/MyDrive/SEMESTER 5/datamining

In [34]:
# menyimpan csv hasil diskritisasi
iris.to_csv('data_iris_diskritisasi.csv')

In [35]:
# Membaca data iris diskritisasi
iris2 = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/datamining/data_iris_diskritisasi.csv")
iris2

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,0.0,2.0,0.0,0.0,setosa
1,1,0.0,1.0,0.0,0.0,setosa
2,2,0.0,2.0,0.0,0.0,setosa
3,3,0.0,1.0,0.0,0.0,setosa
4,4,0.0,2.0,0.0,0.0,setosa
...,...,...,...,...,...,...
145,145,2.0,1.0,2.0,3.0,virginica
146,146,2.0,0.0,2.0,3.0,virginica
147,147,2.0,1.0,2.0,3.0,virginica
148,148,2.0,2.0,2.0,3.0,virginica
149,149,1.0,1.0,2.0,2.0,virginica

In [36]:
# mengubah dataframe menjadi array
sepal_length = iris2["sepal_length"].to_numpy()
sepal_width = iris2["sepal_width"].to_numpy()
petal_length = iris2["petal_length"].to_numpy()
petal_width = iris2["petal_width"].to_numpy()

In [37]:
# Menggolongkan setiap nilai pada kategori tertentu
iris2_sepal_length = []
for i in (sepal_length):
  if i == 0.:
    iris2_sepal_length.append("A")
  elif i == 1.:
    iris2_sepal_length.append("B")
  elif i == 2.:
    iris2_sepal_length.append("C")
  elif i == 3.:
    iris2_sepal_length.append("D")

iris2_sepal_width = []
for i in (sepal_width):
  if i == 0.:
    iris2_sepal_width.append("A")
  elif i == 1.:
    iris2_sepal_width.append("B")
  elif i == 2.:
    iris2_sepal_width.append("C")
  elif i == 3.:
    iris2_sepal_width.append("D")

iris2_petal_length = []
for i in (petal_length):
  if i == 0.:
    iris2_petal_length.append("A")
  elif i == 1.:
    iris2_petal_length.append("B")
  elif i == 2.:
    iris2_petal_length.append("C")
  elif i == 3.:
    iris2_petal_length.append("D")

iris2_petal_width = []
for i in (petal_width):
  if i == 0.:
    iris2_petal_width.append("A")
  elif i == 1.:
    iris2_petal_width.append("B")
  elif i == 2.:
    iris2_petal_width.append("C")
  elif i == 3.:
    iris2_petal_width.append("D")

In [38]:
# Menampilkan array untuk melihat berhasil atau tidak
iris2_sepal_length

['A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'A',
 'B',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'A',
 'A',
 'B',
 'B',
 'B',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'D',
 'C',
 'C',
 'B',
 'C',
 'B',
 'C',
 'A',
 'C',
 'B',
 'A',
 'B',
 'B',
 'C',
 'B',
 'C',
 'B',
 'B',
 'C',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'B',
 'B',
 'B',
 'C',
 'B',
 'A',
 'B',
 'B',
 'B',
 'C',
 'A',
 'B',
 'C',
 'B',
 'D',
 'C',
 'C',
 'D',
 'A',
 'D',
 'C',
 'D',
 'C',
 'C',
 'C',
 'B',
 'B',
 'C',
 'C',
 'D',
 'D',
 'B',
 'C',
 'B',
 'D',
 'C',
 'C',
 'D',
 'C',
 'C',
 'C',
 'D',
 'D',
 'D',
 'C',
 'C',
 'C',
 'D',
 'C',
 'C',
 'B',
 'C',
 'C',
 'C',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'B']

In [39]:
# Mengubah array menjadi tabel kembali
df_sepal_length = pd.DataFrame(iris2_sepal_length, columns = ["sepal_length"])
df_sepal_width = pd.DataFrame(iris2_sepal_width, columns = ["sepal_width"])
df_petal_length = pd.DataFrame(iris2_petal_length, columns = ["petal_length"])
df_petal_width = pd.DataFrame(iris2_petal_width, columns = ["petal_width"])

In [40]:
# cek apakah sudah kembali
df_sepal_length

    sepal_length
0              A
1              A
2              A
3              A
4              A
..           ...
145            C
146            C
147            C
148            C
149            B

[150 rows x 1 columns]

In [41]:
# Menggabungkan dataframen menjadi 1
df1_iris2 = df_sepal_length.join(df_sepal_width)
df2_iris2 = df_petal_length.join(df_petal_width)
df3_iris2 = df2_iris2.join(iris2["species"])
df_iris2_new = df1_iris2.join(df3_iris2)

In [42]:
# Mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
# tempat penyimpanan csv hasil dari diskritisasi yang sudah digolongkan
%cd /content/drive/MyDrive/SEMESTER 5/datamining/

/content/drive/MyDrive/SEMESTER 5/datamining

In [44]:
# Menyimpan hasil diskritisasi ke dalam file csv dengan nama hasil_diskritisasi_huruf.csv
df_iris2_new.to_csv("hasil_diskritisasi_huruf.csv", index=False)

In [45]:
# Membaca file hasil dari Diskritisasi
iris3 = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/datamining/hasil_diskritisasi_huruf.csv")
iris3

    sepal_length sepal_width petal_length petal_width    species
0              A           C            A           A     setosa
1              A           B            A           A     setosa
2              A           C            A           A     setosa
3              A           B            A           A     setosa
4              A           C            A           A     setosa
..           ...         ...          ...         ...        ...
145            C           B            C           D  virginica
146            C           A            C           D  virginica
147            C           B            C           D  virginica
148            C           C            C           D  virginica
149            B           B            C           C  virginica

[150 rows x 5 columns]