# Tugas 1

In [ ]:
# Import liberary pandas dan math
import pandas as pd 
import math

In [ ]:
# Membaca data csv
phone = pd.read_csv("https://raw.githubusercontent.com/Fadhila-Zahra/datamining/main/phones_data.csv")
phone.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [ ]:
# mengetahui jumlah baris dan kolom
phone.shape

(1224, 13)

## Data Nominal

In [ ]:
# Menampilkan data Nominal/Categorical
phone[["brand_name","model_name","os", "release_date"]].head()

,brand_name,model_name,os,release_date
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,10-2020
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,9-2020
4,Nokia,1.3 1/16GB Charcoal,Android,4-2020

In [ ]:
# Menghitung jarak data Nominal
def d1(i,j):
    P = 4
    M = 0
    for col in ["brand_name","model_name","os", "release_date"]:
        if phone[col][i] == phone[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.0
0.0
0.75

## Data Numeric

In [ ]:

# Menampilkan data numeric
phone[["popularity", "best_price", "lowest_price", "highest_price", "sellers_amount", "screen_size", "memory_size", "battery_size"]].head()

,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
0,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0
1,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
2,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
3,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0
4,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0

In [ ]:
phone.describe()

,Unnamed: 0,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
count,1224.000000,1224.000000,1224.000000,964.000000,964.000000,1224.000000,1222.000000,1112.000000,1214.000000
mean,611.500000,612.500000,7941.206699,7716.018672,9883.410788,16.743464,5.394378,95.700059,3608.201812
std,353.482673,353.482673,8891.836260,8560.959059,11514.936818,20.597006,1.476991,111.922576,1668.268774
min,0.000000,1.000000,214.000000,198.000000,229.000000,1.000000,1.400000,0.003200,460.000000
25%,305.750000,306.750000,2599.750000,2399.000000,2887.000000,2.000000,5.162500,32.000000,2900.000000
50%,611.500000,612.500000,4728.000000,4574.000000,5325.500000,8.000000,6.000000,64.000000,3687.000000
75%,917.250000,918.250000,9323.000000,9262.250000,12673.750000,26.000000,6.400000,128.000000,4400.000000
max,1223.000000,1224.000000,56082.000000,49999.000000,69999.000000,125.000000,8.100000,1000.000000,18800.000000

In [ ]:
# Normalisasi popularity
std1 = 353.482673
mean1 = 612.500000
for col1 in ["popularity"]:
    data1 = phone[col1]
    hasil1 = (data1-mean1)/std1
    print(hasil1)

# Normalisasi best_price
std2 = 8891.836260
mean2 = 7941.206699
for col2 in ["best_price"]:
    data2 = phone[col2]
    hasil2 = (data2-mean2)/std2
    print(hasil2)

# Normalisasi lowest_price
std3 = 8560.959059
mean3 = 7716.018672
for col3 in ["lowest_price"]:
    data3 = phone[col3]
    hasil3 = (data3-mean3)/std3
    print(hasil3)

# Normalisasi highest_price
std4 = 11514.936818
mean4 = 9883.410788
for col4 in ["highest_price"]:
    data4 = phone[col4]
    hasil4 = (data4-mean4)/std4
    print(hasil4)

# Normalisasi sellers_amount
std5 = 20.597006
mean5 = 16.743464
for col5 in ["sellers_amount"]:
    data5 = phone[col5]
    hasil5 = (data5-mean5)/std5
    print(hasil5)

# Normalisasi screen_size
std6 = 1.476991
mean6 = 5.394378
for col6 in ["screen_size"]:
    data6 = phone[col6]
    hasil6 = (data6-mean6)/std6
    print(hasil6)

# Normalisasi memory_size
std7 = 111.922576
mean7 = 95.700059
for col7 in ["memory_size"]:
    data7 = phone[col7]
    hasil7 = (data7-mean7)/std7
    print(hasil7)

# Normalisasi battery_size
std8 = 1668.268774
mean8 = 3608.201812
for col8 in ["battery_size"]:
    data8 = phone[col8]
    hasil8 = (data8-mean8)/std8
    print(hasil8)

0      -0.538923
1      -0.818993
2      -0.886889
3      -0.920837
4       1.229197
          ...
1219    1.381963
1220   -0.233392
1221    1.588480
1222    0.394645
1223    0.960443
Name: popularity, Length: 1224, dtype: float64
0      -0.703028
1      -0.690319
2      -0.690319
3      -0.690319
4      -0.668277
          ...
1219    1.658127
1220    1.873493
1221    0.097032
1222    1.216148
1223   -0.791086
Name: best_price, Length: 1224, dtype: float64
0      -0.722702
1      -0.707516
2      -0.707516
3      -0.707516
4            NaN
          ...
1219    0.969749
1220    1.661377
1221    0.033055
1222    1.259670
1223   -0.809608
Name: lowest_price, Length: 1224, dtype: float64
0      -0.700343
1      -0.642158
2      -0.642158
3      -0.642158
4            NaN
          ...
1219    1.564628
1220    2.070058
1221    0.010038
1222    0.792587
1223   -0.776332
Name: highest_price, Length: 1224, dtype: float64
0       0.934919
1       0.934919
2       0.934919
3       0.934919
4      -0.327400
          ...
1219    2.148688
1220    0.546513
1221    0.061006
1222   -0.715806
1223    2.828398
Name: sellers_amount, Length: 1224, dtype: float64
0      -0.267014
1      -0.267014
2      -0.267014
3      -0.267014
4       0.213693
          ...
1219    0.748564
1220    0.748564
1221    0.586071
1222    0.850122
1223   -1.282593
Name: screen_size, Length: 1224, dtype: float64
0      -0.783578
1      -0.712100
2      -0.712100
3      -0.712100
4      -0.712100
          ...
1219   -0.283232
1220   -0.283232
1221    0.288592
1222    0.288592
1223         NaN
Name: memory_size, Length: 1224, dtype: float64
0      -0.963994
1      -0.963994
2      -0.963994
3      -0.963994
4      -0.364571
          ...
1219   -0.260271
1220   -0.260271
1221    0.084997
1222    0.534565
1223   -1.113850
Name: battery_size, Length: 1224, dtype: float64

In [ ]:
# Menghitung jarak Numeric dengan metode Euclidean
def d2(i,j,h):
    result = 0
    for col in [hasil1, hasil2, hasil3, hasil4, hasil5, hasil6, hasil7, hasil8]:
        result = math.pow(abs(col[i] - col[j]), h)
    return result**(1/h)

In [ ]:
# Hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

0.0
0.0
0.599423795245118

##Similarity

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

0.0

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

0.0

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

1.349423795245118

DISKRITISASI

In [ ]:
# Import liberary pandas dan math
import pandas as pd 
import math
from sklearn import datasets

In [ ]:
# Membaca data csv
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# mengetahui jumlah baris dan kolom
iris.shape

(150, 5)

In [ ]:
# proses melakukan diskritisasi pada sepal_length
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['sepal_length'] = est.fit_transform(iris[['sepal_length']])

In [ ]:
# menampilkan hasil diskritisasi sepal_length
iris['sepal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    1.0
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
# proses melakukan diskritisasi pada sepal_width
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['sepal_width'] = est.fit_transform(iris[['sepal_width']])

In [ ]:
# menampilkan hasil diskritisasi sepal_width
iris['sepal_width']

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: sepal_width, Length: 150, dtype: float64

In [ ]:
# proses melakukan diskritisasi pada petal_length
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['petal_length'] = est.fit_transform(iris[['petal_length']])

In [ ]:
# menampilkan hasil diskritisasi petal_length
iris['petal_length']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: petal_length, Length: 150, dtype: float64

In [ ]:
# proses melakukan diskritisasi pada petal_width
from sklearn.preprocessing import KBinsDiscretizer 
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
iris['petal_width'] = est.fit_transform(iris[['petal_width']])

In [ ]:
# menampilkan hasil diskritisasi petal_length
iris['petal_width']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: petal_width, Length: 150, dtype: float64

In [ ]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# tempat penyimpanan csv hasil dari diskritisasi
%cd /content/drive/MyDrive/SEMESTER 5/datamining/

/content/drive/MyDrive/SEMESTER 5/datamining

In [ ]:
# menyimpan csv hasil diskritisasi
iris.to_csv('data_iris_diskritisasi.csv')

In [ ]:
# Membaca data iris diskritisasi
iris2 = pd.read_csv("/content/drive/MyDrive/SEMESTER 5/datamining/data_iris_diskritisasi.csv")
iris2.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           0.0          2.0           0.0          0.0  setosa
1           1           0.0          1.0           0.0          0.0  setosa
2           2           0.0          2.0           0.0          0.0  setosa
3           3           0.0          1.0           0.0          0.0  setosa
4           4           0.0          2.0           0.0          0.0  setosa